//colors
$primary: hsl(210, 11%, 7%);
$secondary: #30353c;
$extra: #2a86ff;
$white: hsl(210, 89%, 93%);

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $secondary;
  background-color: $primary;
  text-align: center;
  padding: 10px;
}

h1 {
  color: $extra;
  margin: 10px;
  font-size: 2rem;
}

.add-todo{
  input {
    width: 60%;
    padding: 8px 12px;
    margin: 10px 0 16px 0;
    font-size: 1rem;
    border: none;
    border-radius: 10px 0 0 10px;
    &:focus{
      outline: none;
    }
  }
  button {
    padding: 8px 16px;
    border: 0px;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007000;
    color: $white;
    &:active {
      border-style: outset;
    }
  }
}

ul {
  list-style: none;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $secondary;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
    input {
      width: 1rem;
      height: 1rem;
      accent-color: $extra;
      margin: 0 0 0 8px;
    }
    span {
      flex-grow: 1;
      text-align: left;
      font-size: 1rem;
      margin: 0 12px;
    }
  }
}
